.login{
    &-container{
        background-color: var(--ion-color-medium-contrast);
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }

    &-content{
        height: 100%;
        background-image: radial-gradient(circle, #414142, #1e1e1e);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &-img{
        height: 100px;
        width: auto;
        margin-bottom: 20px;
    }
}